<div class="container">
  <h2>Cube</h2>

  <div class="row">
    <div class="col-sm-10">
      <label for="cubeSides">Sides length:</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <input id="cubeSides" type="text" class="form-control" [(ngModel)]="_sides">
    </div>

    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" (click)="calculateVolumes()" [disabled]="_sides.length == 0">Calculate</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h2>Cube volumes</h2>
      <table class="table" style="text-align: right;">
        <thead>
        <tr>
          <th style="text-align: right;">Side length</th>
          <th style="text-align: right;">Volume</th>
          <th style="text-align: right;">Inner cube volume</th>
          <th style="text-align: right;">Difference</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cube of _cubes">
          <td>{{cube.side}}</td>
          <td>{{cube.volume}}</td>
          <td>{{cube.innerCubeVolume > 0 ? cube.innerCubeVolume : '-'}}</td>
          <td>{{cube.innerCubeVolume > 0 ? cube.volume - cube.innerCubeVolume : '-'}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6">
      <app-line-chart-demo></app-line-chart-demo>
    </div>
  </div>

</div>

